div#section-contact {
    height: 640px;
    background-color: #FFF;
    @include respond-to(handhelds) {
        height: auto;
        padding: 30px 0;
    }
    div#contact {
        dl.head {
            float: left;
            clear: left;
            width: 300px;
            margin-top: 60px;
            border-bottom: 1px solid black;
            padding-bottom: 27px;
            h2 {
                font-size: 28px;
                font-weight: bold;
            }
            dd {
                font-size: 15px;
                font-weight: 100;
                margin-top: 20px;
                line-height: 22px;
            }
        }
        dl.info {
            float: left;
            clear: left;
            width: 300px;
            margin-top: 32px;
            dt {
                font-size: 20px;
                font-weight: bold;
            }
            dd {
                margin-top: 17px;
                dl {
                    height: 46px;
                    margin-bottom: 18px;
                    padding-left: 46px;
                    dt {
                        font-size: 15px;
                        line-height: 22px;
                        margin-left: 15px;
                        font-weight: 100;
                    }
                    dd {
                        font-size: 15px;
                        margin-top: 0;
                        margin-left: 20px;
                    }
                    &:last-child {
                        margin: 0;
                    }
                    &:before {
                        background-color: $blue;
                        background-image: -webkit-image-set(
                            url("assets/icons/social-networks.png") type("image/png"),
                            url("assets/icons/social-networks.webp") type("image/webp")
                        );
                        background-image: image-set(
                            url("assets/icons/social-networks.png") type("image/png"),
                            url("assets/icons/social-networks.webp") type("image/webp")
                        );
                        background-repeat: no-repeat;
                        width: 46px;
                        height: 46px;
                        position: absolute;
                        left: 0;
                        content: "";
                        border-radius: 30px;
                    }
                    &.phone:before {
                        background-position: -79px 15px;
                    }
                    &.email:before {
                        background-position: 17px 15px;
                    }
                }
            }
        }
        dl.address {
            float: left;
            clear: left;
            width: 300px;
            margin-top: 65px;
            h2 {
                font-size: 20px;
                font-weight: bold;
            }
            dd {
                padding-left: 46px;
                margin-top: 15px;
                address {
                    margin-left: 15px;
                    font-style: normal;
                    font-size: 15px;
                    line-height: 23px;
                    width: 180px;
                }
                &:before {
                    background-color: $blue;
                    background-image: url("assets/icons/social-networks.png");
                    background-repeat: no-repeat;
                    background-position: -31px 15px;
                    width: 46px;
                    height: 46px;
                    position: absolute;
                    left: 0;
                    content: "";
                    border-radius: 30px;
                }
            }
        }
        dl.form {
            float: right;
            background-color: $blue;
            margin-top: 62px;
            width: 570px;
            padding: 26px;
            margin-right: 2px;
            border-radius: 5px;
            @include respond-to(handhelds) {
                width: 100%;
                margin: 0;
                box-sizing: border-box;
            }
            h2 {
                color: #FFF;
                font-weight: bold;
                font-size: 28px;
                line-height: 19px;
            }
            dd {
                margin-top: 23px;
                form {
                    fieldset {
                        border: 0;
                        dl {
                            @extend %clear;
                            margin-bottom: 13px;
                            dt {
                                display: none;
                            }
                            dd {
                                margin: 0;
                                input {
                                    height: 51px;
                                    text-indent: 22px;
                                }
                                textarea {
                                    padding: 15px;
                                    height: 200px;
                                    resize: none;
                                    box-sizing: border-box;
                                }
                                input, textarea {
                                    @extend %clear;
                                    border: 0;
                                    font-size: 15px;
                                    font-weight: 100;
                                    border-radius: 5px;
                                }
                            }
                            &:nth-child(2) {
                                float: right;
                            }
                            &:nth-child(1), &:nth-child(2) {
                                width: calc(50% - 7px);
                            }
                        }
                    }
                    > input {
                        border: 0;
                        font-size: 15px;
                        text-transform: uppercase;
                        font-weight: bold;
                        width: 200px;
                        height: 50px;
                        border-radius: 5px;
                    }
                }
            }
        }
    }
}

