div#section-header {
    height: 98px;
    border-bottom: 2px solid #BFC3C6;
    @include respond-to(handhelds) {
        height: auto;
    }
    div#header {
        margin-top: 10px;
        div.logo {
            float: left;
            margin-left: 8px;
            @include respond-to(handhelds) {
                margin: 0;
            }
            a {
                img {
                    @include respond-to(handhelds) {
                        width: 100%;
                    }
                }
            }
        }
        div.menu {
            float: right;
            margin-top: 30px;
            text-align: center;
            @include respond-to(handhelds) {
                width: 100%;
                margin-top: 20px;
            }
            ul {
                li {
                    float: left;
                    list-style: none;
                    margin-left: 60px;
                    @include respond-to(handhelds) {
                        width: 100%;
                        margin: 0;
                        height: 30px;
                        line-height: 30px;
                    }
                    a {
                        color: #000;
                        font-size: 15px;
                        text-decoration: none;
                    }
                    &:first-child {
                        margin: 0;
                    }
                    &:last-child {
                        margin-right: 15px;
                    }
                }
            }
        }
    }
}
