div#section-portifolio {
    height: 450px;
    background-color: #FFF;
    @include respond-to(handhelds) {
        height: auto;
        padding-bottom: 50px;
    }
    div#portifolio {
        margin-top: 50px;
        dl {
            dt {
                color: $blue;
                font-weight: bold;
                font-size: 15px;
                text-transform: uppercase;
            }
            dd {
                font-weight: bold;
                font-size: 40px;
                line-height: 60px;
            }
        }
    }
    div#portifolio-gallery {
        @extend %clear;
        overflow: hidden;
        position: relative;
        margin-top: 17px;
        div.collection {
            font-size: 0;
            overflow: hidden;
            white-space: nowrap;
            height: 232px;
            div.photo {
                list-style: none;
                display: inline-block;
                a {
                    float: left;
                    img {
                        float: left;
                    }
                }
            }
        }
    }
}

