div#section-services {
    height: 626px;
    @include respond-to(handhelds) {
        height: auto;
    }
    div#services {
        @include respond-to(handhelds) {
            padding-bottom: 25px;
            float: left;
        }
        h2 {
            display: none;
        }
        dl {
            margin: 30px 34px 0 0;
            cursor: pointer;
            float: left;
            @include respond-to(handhelds) {
                margin: 25px 0 0 0;
                width: 100%;
            }
            dd {
                display: none;
            }
            dt {
                float: left;
                width: 230px;
                height: 66px;
                list-style: none;
                background-color: #FFF;
                font-size: 20px;
                color: $blue;
                text-align: center;
                padding-top: 184px;
                border-radius: 3px;
                box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.5);
                background-repeat: no-repeat;
                @include respond-to(handhelds) {
                    width: 100%;
                }
            }
            &:nth-child(5n) , &:nth-child(9n){
                margin-right: 0;
            }
            &:nth-child(2) dt {
                background-image: url("assets/services/carpets-and-rugs.png");
                background-position: center 30px;
            }
            &:nth-child(3) dt {
                background-image: url("assets/services/futons-couches-and-upholstery.png");
                background-position: center 34px;
            }
            &:nth-child(4) dt {
                background-image: url("assets/services/mattresses.png");
                background-position: center 27px;
            }
            &:nth-child(5) dt {
                background-image: url("assets/services/curtains-and-blinds.png");
                background-position: center 18px;
            }
            &:nth-child(6) dt {
                background-image: url("assets/services/automotive-upholstery.png");
                background-position: center 29px;
            }
            &:nth-child(7) dt {
                background-image: url("assets/services/leather-hydration.png");
                background-position: center 17px;
            }
            &:nth-child(8) dt {
                background-image: url("assets/services/waterproofing.png");
                background-position: center 27px;
                padding-top: 197px;
                height: 53px;
            }
            &:nth-child(9) dt {
                background-image: url("assets/services/sanitization-and-ionization-of-environments.png");
                background-position: center 24px;
                padding-top: 168px;
                height: 82px;
            }
        }
    }
}

div.fancybox-content {
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, .5);
    p {
        font-size: 17px;
        line-height: 23px;
        &:not(:last-child)  {
            margin-bottom: 17px;
        }
    }
}
