doctype strict
html(xmlns='http://www.w3.org/1999/xhtml' xml:lang='pt-br' dir='ltr' lang='pt-br')
  head
    // Meta
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(http-equiv='content-type' content='text/html; charset=utf-8')
    // Styles: Basic
    link(rel='stylesheet' type='text/css' href='master.css')
    // Browser
    title LuxorClean Higienização Premium
  body
    #section-header
      #header
        .logo
          a(href='/')
            img(src='assets/img/logo.png' alt='LuxorClean Higienização Premium')
        .menu
          ul
            li
              a(href='#') Sobre
            li
              a(href='#') Serviços
            li
              a(href='#') FAQ
            li
              a(href='#') Contato
    #section-banner
      #banner
        dl
          dt Limpeza de estofados em Belo Horizonte e região
          dd
            p
              | A LUXORCLEAN é uma empresa especializada em higienização e impermeabilização de estofados. Trabalhamos com sofás, colchões, cadeiras, poltronas, bancos automotivo e carpetes.#[br]
            a(href='#') Solicite um orçamento
    #section-social
      #social
        dl
          dt WhatsApp e Instagram
          dd
            | Estamos à disposição para tirar dúvidas à respeito de nossos serviços, preços e condições de pagamento.
        a.instagram(href='#') Instagram
        a.whatsapp(href='#') Whatsapp
    #section-portifolio
      #portifolio
        dl
          dt Trabalhos realizados...
          dd Confira nossos ultimos trabalhos!
      #portifolio-gallery
        ul
          li
            a(href='#')
              img(src='pictures/001.jpg')
          li
            a(href='#')
              img(src='pictures/002.jpg')
          li
            a(href='#')
              img(src='pictures/003.jpg')
          li
            a(href='#')
              img(src='pictures/004.jpg')
          li
            a(href='#')
              img(src='pictures/005.jpg')
          li
            a(href='#')
              img(src='pictures/001.jpg')
          li
            a(href='#')
              img(src='pictures/002.jpg')
          li
            a(href='#')
              img(src='pictures/003.jpg')
          li
            a(href='#')
              img(src='pictures/004.jpg')
          li
            a(href='#')
              img(src='pictures/005.jpg')
          li
            a(href='#')
              img(src='pictures/001.jpg')
          li
            a(href='#')
              img(src='pictures/002.jpg')
          li
            a(href='#')
              img(src='pictures/003.jpg')
          li
            a(href='#')
              img(src='pictures/004.jpg')
          li
            a(href='#')
              img(src='pictures/005.jpg')
          li
            a(href='#')
              img(src='pictures/001.jpg')
          li
            a(href='#')
              img(src='pictures/002.jpg')
          li
            a(href='#')
              img(src='pictures/003.jpg')
          li
            a(href='#')
              img(src='pictures/004.jpg')
          li
            a(href='#')
              img(src='pictures/005.jpg')
    #section-services
      #services
        ul
          li Carpetes e #[br]tapetes
          li Futons, sofás e #[br]estofados
          li Colchões
          li Cortinas e #[br]persianas
          li Estofados #[br]automotivos
          li Hidratação de #[br]couro
          li Impermeabilização
          li Sanitizacao e #[br]Ionização de #[br]ambientes
    #section-contact
      #contact
        dl.form
          dt Contato por email
          dd
            form
              fieldset
                dl
                  dt
                    label(for='name') Nome
                  dd
                    input(type='text' name='name' placeholder='Nome')
                dl
                  dt
                    label(for='phone') Telefone
                  dd
                    input(type='text' name='phone' placeholder='Telefone')
                dl
                  dt
                    label(for='mail') Email
                  dd
                    input(type='text' name='mail' placeholder='Email')
                dl
                  dt
                    label(for='message') Mensagem
                  dd
                    textarea(name='message' placeholder='Mensagem')
              input(type='submit' value='Enviar')
        dl.head
          dt Entre em contato
          dd
            | Estamos à disposição para tirar dúvidas à respeito de nossos serviços, preços e condições de pagamento.
        dl.info
          dt Informações de contato
          dd
            dl.phone
              dt Telefone
              dd (31) 9 7148 6999
            dl.email
              dt Email
              dd contato@luxorbh.com.br
        dl.address
          dt Endereço
          dd
            address Rua dos Timbiras, 1936 - Funcionários, Belo Horizonte - MG, 30140-061
    #section-map
      // iframe(src='https://maps.google.com/maps?q=Rua dos Timbiras, 1936 - Funcionários, Belo Horizonte - MG, 30140-061&t=&z=13&ie=UTF8&iwloc=&output=embed' scrolling='no' marginheight='0' marginwidth='0' frameborder='0')
    #section-footer
      #footer
        .copyright
          p © 2022 Luxorclean, todos os direitos reservados.
        .social-networks
          ul
            li
              a.facebook(href='#') Facebook
            li
              a.twitter(href='#') Twitter
            li
              a.instagram(href='#') Instagram
            li
              a.linkedin(href='#') LinkedIn
    script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js')
    script(type='text/javascript').
        $(function() {
            let container = $('div#portifolio-gallery');
            let containerWidth = container.innerWidth();
            let slider = container.find('ul');
            let sliderWidth = 0;
            let pictures = slider.find("img");
            let loaded = 0;
            pictures.on("load", function() {
                sliderWidth += $(this).width();
                loaded++;
                if(loaded == pictures.length){
                    $('div#portifolio-gallery').mousemove(function(e) {
                        slider.css({left: ((containerWidth - sliderWidth) * ((e.pageX / containerWidth).toFixed(3))).toFixed(1) + "px" });
                    });
                }
            });
        });
