@use "sass:math";

/* Base Fonts ********************************/
$font-master: 'Rubik', sans-serif;
$font-plain: 'Playfair Display', serif;

/* Base Colors *******************************/
$blue: #303659;

/* Responsive Sizes **************************/
$break-small: 1024px;

@-ms-viewport{
    width: device-width;
}

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600&display=swap');

/* Mixins ************************************/
@mixin centralize($width) {
    left: 50%;
    width: $width;
    margin-left: -(math.div($width, 2));
    position: relative;
}

@mixin respond-to($media) {
    @if $media == handhelds {
        @media only screen and (max-width: $break-small) { @content; }
    }
    @else if $media == wide-screens {
        @media only screen and (min-width: $break-small) { @content; }
    }
}

/* Assets ************************************/
* {
    margin: 0;
    padding: 0;
    font-family: $font-master;
}
body {
    background: url("assets/img/background.png");
    > div {
        @extend %clear;
        > div:nth-child(1) {
            @include centralize(1024px);
            @include respond-to(handhelds) {
                @include centralize(300px);
            }
        }
    }
}
%clear {
    float: left;
    width: 100%;
}
%bypass {
    position: relative;
    z-index: 20;
}

/* Includes ********************************/
@import "footer";
@import "map";
@import "contact";
@import "services";
@import "portifolio";
@import "social";
@import "banner";
@import "header";
